* {
  box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

.introduction-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction-title {
  margin-bottom: 10px;
}

.introduction-demo-link {
  line-height: 24px;
  color: #1EA7FD;
  text-decoration: none;
}

.films-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
}

.film-card {
  border-radius: 8px;
  border: 2px solid #c7d2fe;
  background-color: #e0e7ff;
  padding: 20px 15px;
  line-height: 1.3;
}

.film-title {
  color: #1e40af;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.rr-rq-app a {
  text-decoration: none;
}

.rr-rq-navbar {
  display: inline-grid;
  gap: 30px;
  grid-auto-flow: column;
  padding: 15px 25px;
  background-color: #e0e7ff;
  border-radius: 8px;
}

.rr-rq-navbar > a {
  font-size: 18px;
  color: #1e40af;
  transform-origin: center;
  transition: 0.2s ease-in-out;
}

.rr-rq-navbar > a:hover:not(.active) {
  transform: scale(1.05);
}

.rr-rq-navbar > a.active {
  font-weight: bold;
}

.rr-rq-purpose-list {
  line-height: 2;
}

.rr-rq-table {
  text-align: center;
  border-collapse:collapse;
  border: 1px solid;
}

.rr-rq-table th, .rr-rq-table td {
  padding: 10px 15px;
}

.rr-rq-table th {
  border-bottom: 1px solid;
}

.rr-rq-table th:last-child, .rr-rq-table td:last-child {
  border-left: 1px solid;
}
